# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/

# --- IDE (VS Code & macOS) ---
.DS_Store
.vscode/
.idea/

# --- Data & Large Files ---
*.zip
*.tar.gz

# --- Temporary Files ---
*.log
tmp/
*.docx
*.pptx